!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' } 
  %body
    %h3 Welcome!
    %p
      You have successfully registered on
      = link_to 'global-trend-finder.com', 'http://global-trend-finder.com'
      !
    %br
    %p
      %b
        Your username:
      = @user.email
    %p
      %b
        Your password:
      = @user.password
    %br
    %br
    %p
      Looking forward to meeting you again,
      %br
      Global Trend Finder team
